# OS files
[Tt]humbs.db
.DS_Store
~$*

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.scc
*.unsuccessfulbuild
*.tmp
ipch/
obj/
[Bb]in
[Rr]elease*/
*.sln.ide
*.pidb
*.userprefs
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.sass-cache
[Bb]uild/
.svn
.hg/
NDependOut/
Resources/
Help/
Report/
_UpgradeReport_Files/
_NCrunch*/
*crunch*.local.xml
packages/
*.ps1
*.nupkg
*.transform
*.psd1
*.psd
*.psm1
packages/opentk*

# Disallow all binary and content files, they come from the Content System (see wiki)
*.png
*.bmp
*.jpg
*.jpeg
*.gif
#allow for tools: *.ico
*.xml
*.XML
*.tga
*.tif
*.dae
*.glessl
*.rgb
*.rgba
*.rgba4
*.dds
*.psd
*.max
*.3ds
*.mp3
*.wav
*.avi
*.ttf
*.font
*.pdf
*.doc
*.docx
*.img
*.mov
*.mpg
*.img
*.mp4
*.m4v
*.wma
*.wmv
*.mov
*.bin
*.iso
*.svn
*.zip
*.rar
*.7z
*.chm
*.help
*.txt
*.html
*.htm
*.orig
*.css
*.xslt
*.swf
*.JPG
*.xnb
*.nuspec
*.sln.ide
*.lastcodeanalysissucceeded